body {
  width: 60em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 1px 1px 3px gray;
}

section {
  padding: 2em;
  margin: 1em;
}

#green {
  background-color: #c0f8cc;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

#orange {
  background-color: #f9dbba;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

#yellow {
  background-color: #ffffc0;
  grid-row: 2;
}

#red {
  background-color: #fcb4bb;
  grid-row: 2;
}

#blue {
  background-color: #a9d7fa;
  grid-row: 2;
  grid-row-end: 4;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
